---
layout: default
---

<div id="homepage">
  <div id="top_updates">
    <p class="heading update_item">Updates</p>
    <ul class="updates">
      {% for update in site.data.updates limit:7 %}
      {% include single_update.html only-summary="true" update=update %}
      {% endfor %}
    </ul>
    <a class="update_item" href="{{ site.baseurl }}/updates/">Read More</a>
  </div>

  <div id="intro_box">
    <img
      id="bio_pic"
      src="{{ site.baseurl }}/images/crop1.jpg"
      alt="Photo of Megha Kalia"
    />

    <figcaption id="caption_bio"> Robotics and Control Lab, Electrical and Computer Engineering, 
      The University of British Columbia, 5500 - 2332 Main Mall, Vancouver BC V6T 1Z4. Email: mkalia@ece.ubc.ca. </figcaption>

    <div class="biography">
      {% capture biography %}{% include biography.md %}{% endcapture %}
      {{ biography | markdownify }}
    </div>
  </div>
</div>
