---
layout: page
title: Project
permalink: /project/
---
<div id="project_container" class="book-style">
{% for project in site.data.projects %}
    <div class="project">
        {% if project.sub_page %}
        <h3><a href={{ project.sub_page }}>{{ project.head }}</a></h3>
        {% else %}
        <h3>{{ project.head }}</h3>
        {% endif %}

        <figure class="media-container project-media">  
            {% if project.media_type == "video" %}
                {% if project.media_url != "/videos/depth_perceptionCropped.mp4" %}
                    <video src="{{ site.baseurl }}{{ project.media_url }}" controls></video>
                {% endif %}
            
            {% else if project.media_type == "image" %}
                <img src="{{ site.baseurl }}{{ project.media_url }}"></img>
            {% endif %}
        </figure>

        {% if project.media_url == "/videos/depth_perceptionCropped.mp4" %}
            <figure class="media-container">
                <video src="{{ site.baseurl }}{{ project.media_url }}" controls style="height: 240px;"></video>
            </figure>
        {% endif %}

        {% if project.desc %}
            {{ project.desc }}
        {% endif %}
    </div>
{% endfor %}
</div>


