---
layout: page
title: Project
permalink: /updates/
---
<ul class="updates">
    {% for update in site.data.updates %}
    <li class="update">
        <div class="head">
            {% if update.url %}
                <a href="{{update.url}}">{{ update.head }} </a>
            {% else %}
                {{ update.head }}
            {% endif %}
        </div>
        <div class="date">{{ update.date }}</div>
        {% if update.desc %}
            <div class="desc">{{ update.desc }}</div>
        {% endif %}
    </li>
    {% endfor %}
</ul>